[flake8]
max-line-length = 94

ignore =
  # prefer Knuth philosophy of break before binary operator
  W503,

  # recommended for black
  E203,

  # if it's a '#' comment, i do what i want...
  E265,
  E266

per-file-ignores =
    __init__.py:F401
